<div class="footer text-title" pbflag="footer">
        <div class="footer-link box-center">
            <p class="footer-fbtip hide" style="display:block;" id="humanFbTip"><img src="//yue06.sogoucdn.com/cdn/web/image/2017/02/17/20170217111422_2289.jpg"><span>微信扫一扫<br>客服面对面</span></p>
            <div class="box-link footer-help">
                <p class="link-title"><i class="icon"></i>用户指南</p>
                <ul>
                    <li><a href="/help/#reg" target="_blank" pbflag="底部" pbtag="如何注册">如何注册</a></li>
                    <li><a href="/help/#findpwd" target="_blank" pbflag="底部" pbtag="忘记密码">忘记密码</a></li>
                    <li><a href="/help/#pay" target="_blank" pbflag="底部" pbtag="如何充值">如何充值</a></li>
                    <li><a href="/help/#member" target="_blank" pbflag="底部" pbtag="会员体系">会员体系</a></li>
                    <li><a href="#" target="_blank" id="footFb2" pbflag="底部" pbtag="意见反馈">意见反馈</a></li>
                    <li><a href="#" id="humanFb">人工客服</a></li>
                    <li><span>客服电话： 010-56898833</span></li>
                    <li><span>用户交流QQ群：363549009</span></li>
                </ul>
            </div>
            <div class="box-link footer-member">
                <p class="link-title"><i class="icon"></i>包月会员</p>
                <ul>
                    <li><a href="/help/#mkvip" target="_blank" pbflag="底部" pbtag="如何包月">如何包月</a></li>
                    <li><a href="/help/#vip2" target="_blank" pbflag="底部" pbtag="包月特权">包月特权</a></li>
                    <li><a href="/baoyue/" target="_blank" pbflag="底部" pbtag="包月书城">包月书城</a></li>
                </ul>
            </div>
            <div class="box-link footer-contactus">
                <p class="link-title"><i class="icon"></i>商务合作</p>
                <ul>
                    <li><span>渠道：梁鑫 liangxin@sogou-inc.com</span></li>
                </ul>
            </div>
            <div class="box-link footer-down">
                <p class="link-title"><i class="icon"></i>搜狗云阅读三端免费</p>
                <div class="box-qrcodes clear">
                    <span class="qrcode-down wxqrcode fl">关注微信<img src="//yue03.sogoucdn.com/cdn/web/image/2017/02/17/20170217111320_2288.jpg"></span>
                    <span class="qrcode-down wbqrcode fl">关注微博<img src="http://p1.123.sogoucdn.com/imgu/2017/03/20170301163159_712.png"></span>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <p class="footer-nav">
                <a href="https://123.sogou.com/about/" target="_blank" pbflag="底部" pbtag="关于我们">关于我们</a>
                <a href="http://weibo.com/p/1006066135216751/home?from=page_100606&amp;mod=TAB&amp;is_all=1#place" target="_blank" pbflag="底部" pbtag="官方微博">官方微博</a>
                <a href="#" id="footFb" target="_blank" pbflag="底部" pbtag="意见反馈">意见反馈</a>
                <a href="/help/term.html" target="_blank" pbflag="底部" pbtag="用户服务协议">用户服务协议</a>
                <a href="https://123.sogou.com/" target="_blank" pbflag="底部" pbtag="网址大全">网址大全</a>
            </p>
            <p>网络文化经营许可证京网文[2016]6432-852号</p>
            <p>健康阅读公告，抵制不良小说，拒绝盗版小说。注意自我保护，谨防上当受骗。合理安排时间，享受健康生活。</p>
            <p class="opa">
                <span>Copyright ©2017 Sogou.com. All Rights Reserved. </span>
                <a href="http://www.miibeian.gov.cn/" target="_blank" pbflag="底部" pbtag="icp"> 京ICP证050897号</a>
                &nbsp;&nbsp;
            </p>
            <p class="opa">搜狗公司 版权所有</p>
        </div>
    </div>